

.form-title{
    font-family: 'Zilla Slab';
    font-size: 40px;
    width: 100%;
    display: block;
    padding: 0px 0px 15px 0px;
}

.square{
    padding: 30px;
    width: 40%;
    background-color: white;
    border-radius: 20px;  
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
}

.caption-text{
    font-style: italic;
    font-size: 10px;
    display: block;
    padding: 1px 1px 5px 1px;
}

.caption-text > a{
    text-decoration: none;
    color: rgb(68, 68, 68);
}


.id{
    padding: 5px;
}

form > .form-field > label{
    display: block;
}

.form-field{
    padding: 5px;
}

.form-field > input{
    border: 1px solid black;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
}



.form-img{
    width: 80%;
    padding: 50px 50px 50px 50px;
}
